@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #d93b68;
}

.navbar {
    background-color: #3B94D9;
    height: 135px;
    display: flex;
    justify-content: center;
}

.nav-logo {
    width: 475px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-top: 1em;
    height: 75px;
    width:  75px;
    border-radius: 50%;
}

.searchbar-container {
    margin-left: 4.5em;
    margin-top: 1em;
    width: 100px;
}

/*Map CSS*/
#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 700px;
}

/*Weather Cards CSS*/
.forecastCard {
    width: 240px;
    background: #d9c43b;
}
.date {
     display: flex;
     justify-content: center;
 }

.info div {
    border: solid black 1px;
}

.temp-and-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.infoCard {
}
.cardContainer {
    width: 70%;
}
.subinfo {
    display: flex;
    justify-content: space-evenly;
}
.rainbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.windbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

